@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    /* https://tailwindcss.com/docs/customizing-colors */
    --indigo: #6366f1; /*indigo 500*/
    --light-indigo: #c7d2fe; /*indigo 200*/
    --amber: #fbbf24; /*amber 400*/
    --red: #ef4444; /*red 500*/
    --lime: #84cc16; /*lime 500*/
    --overlay-black: rgba(0,0,0,0.7);




    --background-grey: #e5e7eb; /*grey 200*/
    --text-grey: #374151; /*grey 700*/
    --shadow: rgba(156, 163, 175, 0.8); /* dark grey 400*/
}

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    color: white;
    background-color: var(--indigo);
    padding: 1rem 20vw;
    height: 5rem;
}

.header-container {
    flex: content;
    display: flex;
    align-items: center;
    gap: 1rem;
}

h1 {
    font-size: 2rem;
    justify-self: flex-start;
}

#add-book-button {
    border: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    margin-left: auto;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;    
    background-color: var(--indigo);
    padding: 1rem 1rem;
}

.library {
    flex: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: min-content;
    gap: 1rem;
    overflow: auto;
    background-color: var(--light-indigo);
    padding: 1rem 20vw;
}

.book {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.book-title {
    color: white;
    font-weight: bold;
    background-color: var(--indigo);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding: 0.5rem;
}

.book p {
    background-color: white;
    padding: 0.5rem;
}

.book button {
    border: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    color: white;
    padding: 0.5rem;

}

.read-button {
    background-color: var(--amber);
}

.delete-button {
    background-color: var(--red);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

footer {
    margin-top: auto;
    text-align: center;
    color: white;
    background-color: var(--indigo);
}

#overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: var(--overlay-black);
    z-index: 1;
    cursor: pointer;
    transform: scale(0);
}

#overlay.active {
    transform: scale(1);
}

#add-book-modal {
    /* display: none; */
    
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 300px;
    width: 300px;
    margin: auto;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
    background-color: var(--indigo);
    padding: 1rem;
    border-radius: 1rem;
    
    transform: scale(0);
    transition: 0.2s ease;
}


#add-book-modal.active {
    transform: scale(1);
}


#add-book-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

h2 {
    font-size: 1.3rem;
    font-weight: bold;
}

input {
    /* appearance: none; */
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

input[type="text"],
input[type="number"] {
    width: 250px;
}

.is-read-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#submit-button {
    border: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: var(--lime);

    margin-top: auto;

    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}



@media only screen and (max-width: 850px) {
    header,
    .library {
        padding: 1rem 2rem;
    } 

    h1 {
        font-size: 1.3rem;
    }

    #add-book-button {
        font-size: 1rem;
        padding: 0;
    }
}